:root {
  --color-one-love: orange;
}

body {
  max-width: 1600px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Positioning */
.text-bold {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 21px;
}

.h-2,
.attributes {
  margin: 0 auto;
}

/* Block-model */

.text-bold {
  display: block;
}

/* Typography */

.text-bold {
  font-size: 1.5em;
  font-weight: bold;
}

/* Visuals */

.one-love {
  color: var(--color-one-love);
}
